.footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
    background-size: cover;
    padding: 20px 0;
}

.footer h4 {
    font-size: 20px;
    color: #fff;
}

.footer p,
.footer a {
    color: rgb(206,206,206);
}

.line {
    height: 2px;
    background-color: rgb(206,206,206);
    width: 100%;
}
